/*mobile site sttyling*/
@media (max-width: 500px) {

html{
  background-image: url(https://www.excalibur.com/content/dam/MGM/excalibur/casino/poker/excalibur-casino-poker-chips.tif);
  /*background-color:blue;*/
}
body{
  height: 100vh  ;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255, 0);
}
.view{
  height: 100vh;
  width: 100vw;
}
.mw-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*header styling*/
#mainGuruNav ul.nav{
  /*width: 100%;
  height: 75px;*/
}
#mainGuruNav{
  /*width: 100%;
  height: 75px;*/
}
#mainGuruNav li.active a{
  /*height: 75px;
  line-height: 25px;
  font-size: 20px;
  text-align: center;*/
}
#mainGuruNav li.active{
  /*width: 25%;
  height: 75px;*/

}

}
