html{
  background-color: black;
}
body{
  height: 100%;
  width: 100vw;
  display:flex;
  justify-content: center;
  background-color: rgba(255,255,255, 0);
}
.view{
  height: 100vh;
  width: 100vw;
}
