.centerme {
  text-align: center; }

.defColor {
  columns: white !important; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

#mainTopHeader {
  height: 75px;
  top: 0; }

#view {
  top: 75px;
  bottom: 50px; }

#mainBottomFooter {
  height: 50px;
  bottom: 0; }

html * {
  font-family: "Damion", cursive;
  color: white; }

html {
  background-image: url(https://www.excalibur.com/content/dam/MGM/excalibur/casino/poker/excalibur-casino-poker-chips.tif);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: hidden;
  overflow-y: hidden; }

#view {
  height: 100%; }

#appLogo {
  color: white; }

div.gm-style-iw * {
  color: black; }

#mainGuruNav > ul {
  margin-top: 0;
  margin-bottom: 0; }

#mainTopHeader div.container-fluid {
  padding-left: 0;
  padding-right: 0; }

#mainBottomFooter {
  width: 100%;
  height: 10%;
  position: relative;
  bottom: 0; }

#mainBottomFooter ul {
  display: flex;
  justify-content: center; }
