.centerme {
  text-align: center; }

.defColor {
  columns: white !important; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

#mainTopHeader {
  position: fixed;
  height: 50px;
  top: 0; }

#view {
  padding-top: 75px;
  padding-bottom: 50px; }

#mainBottomFooter {
  position: fixed;
  height: 50px;
  bottom: 0;
  z-index: 30; }

#view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#btnMapToggler {
  height: 30px; }

#vegasStripMap,
#vegasMap {
  height: 400px;
  width: 400px; }

#locationListStrip,
#locationList {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  margin-top: 15px; }

.locationLink {
  font-size: 16px;
  color: white;
  margin-right: 15px; }

.locationLink:hover,
.locationLink:active,
.locationLink:focus {
  color: gold; }
