.centerme {
  text-align: center; }

.defColor {
  columns: white !important; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.map {
  height: 350px;
  width: 300px; }

.imgInList {
  height: 30px;
  width: 30px; }

.allcontainers {
  display: flex;
  flex-direction: column;
  align-items: center; }

.informationContainer {
  width: 80%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  margin-bottom: 10px;
  padding: 5px; }

.informationContainer:first-of-type {
  margin-top: 10px; }

.infoTitle {
  font-size: 18px;
  align-self: center; }

.bottomInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 5px; }

.catigoryTitle {
  font-size: 26px; }

#view > div > div > div > a > div {
  text-align: center; }

#mainTopHeader {
  position: fixed;
  height: 50px;
  top: 0; }

#view {
  padding-top: 50px;
  padding-bottom: 50px; }

#mainBottomFooter {
  position: fixed;
  height: 50px;
  bottom: 0;
  z-index: 30; }

.ng-enter:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv),
.ng-show:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv) {
  -webkit-transition: 1s;
  transition: all 1s linear;
  opacity: 0; }

.ng-enter-active:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv),
.ng-show-active:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv) {
  opacity: 1; }

.ng-leave:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv),
.ng-hide:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv) {
  -webkit-transition: .2s;
  transition: all .2s linear;
  opacity: 0; }

.ng-leave-active:not(#vegasStripMap):not(#vegasMap):not(#vegasMapDiv) {
  opacity: 0; }

#view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#btnMapToggler {
  height: 30px; }

#stripMapDiv,
#vegasMapDiv,
#vegasStripMap,
#vegasMap {
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#stripMapDiv {
  display: flex;
  flex-direction: column;
  align-items: center; }

#locationListStrip,
#locationList {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  margin-top: 15px; }

.locationLink {
  font-size: 16px;
  color: white;
  margin-right: 15px; }

.locationLink:hover,
.locationLink:active,
.locationLink:focus {
  color: gold; }

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px; }

.hotelIcon {
  width: 24px;
  height: 24px; }

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS; }

.iw_table_row {
  height: 18px; }

.iw_attribute_name {
  font-weight: bold;
  text-align: right; }

.iw_table_icon {
  text-align: right; }
