#btnMapToggler{
  height: 30px;
}
#vegasStripMap,
#vegasMap{
  height: 70vh;
  width: 100%;
}
#locationList{
  width:100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  margin-top:15px;
}
.locationLink{
  font-size: 16px;
  color: white;
  margin-right: 15px;
}
.locationLink:hover,
.locationLink:active,
.locationLink:focus{
  color: gold;
}
