.centerme {
  text-align: center; }

.defColor {
  columns: white !important; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

#mainTopHeader {
  height: 75px;
  top: 0; }

#view {
  top: 75px;
  bottom: 50px; }

#mainBottomFooter {
  height: 50px;
  bottom: 0; }
