.centerme {
  text-align: center; }

.defColor {
  columns: white !important; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.map {
  height: 400px;
  width: 400px; }

.imgInList {
  height: 30px;
  width: 30px; }

#mainTopHeader {
  position: fixed;
  height: 50px;
  top: 0; }

#view {
  padding-top: 75px;
  padding-bottom: 50px; }

#mainBottomFooter {
  position: fixed;
  height: 50px;
  bottom: 0;
  z-index: 30; }

.ng-enter, .ng-show {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0; }

.ng-enter-active, .ng-show-active {
  opacity: 1; }

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }
