
#appbody{
  height: 100%;
  width: 100%;
  background-color: black;
}
.mainHeaderBanner{
  margin-top: 0 ;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
}
h1#headerWelcome{
  color: white;
}
#divMikeyMsg{
  color: green;
}
#divUserLogin,
#userLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#userLogin{
  width: 50%;
  height: 400px;
  background-image: url(https://media.giphy.com/media/Y3oM4GBldVqVy/giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#divUserLogin > *{
  margin-bottom: 10px;
}
