//settings
$defaultFont: 'Damion', cursive;
$defaultColor: white;

.centerme{text-align: center;}
.defColor{columns:$defaultColor !important;}
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

//these are the settings for the general overflow rules
#mainTopHeader{ height: 75px;
   top: 0;
  }
#view{ top: 75px;
   bottom: 50px;
  }
#mainBottomFooter{ height: 50px;
   position: absolute;
   bottom: 0;
   z-index: 30;
 }
