//settings
$defaultFont: 'Arial';
$defaultColor: white;
$mapHeight: 400px;
$mapWidth: 400px;

.centerme{text-align: center;}
.defColor{columns:$defaultColor !important;}
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

//these are the settings for the general overflow rules
#mainTopHeader{
  position: fixed;
  height: 50px;
  top: 0;
  }
#view{
  padding-top: 75px;
  padding-bottom: 50px;
  }
#mainBottomFooter{
  position: fixed;
  height: 50px;
  bottom: 0;
  z-index: 30;
 }
.map{
  height: $mapHeight;
  width: $mapWidth;
}
