<h1>User Dashboard</h1>

<div ng-controller='VegasMapCtrl'>
  <div id="vegasMap">


  </div>
  <div id="locationList">
    <div class="location" ng-repeat="marker in markers | orderBy : 'title'">
      <a class="locationLink" href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
  </div>
</div>

<div ng-controller='StripMapCtrl'>
  <div id="vegasStripMap">


  </div>
  <div id="locationList">
    <div class="location" ng-repeat="marker in markers | orderBy : 'title'">
      <a class="locationLink" href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
  </div>
</div>
