<div id="">
    <h1>
      {{title}}
    </h1>
    <!-- <div id="<map name=""></map>" class="map"></div> -->
    <div ng-repeat="place in details track by $index| orderBy : 'title'" value="{{place.id}}" ng-model="VegasMapCtrl">
      <a href="{{place.href}}" class="fade"><h3>{{place.name}}</h3></a>
    </div>
    <!-- <div ng-repeat='detail in details | orderBy : "title"' class="details">
      <div>{{detail.media.images.available}}</div>
      <img src={{detail.media.images.items[0].src}} alt="">
    </div> -->

</div>
