<div id="">
    <h1>
      {{title}}
    </h1>
    <!-- <div id="<map name=""></map>" class="map"></div> -->
    <div ng-repeat="place in places track by $index| orderBy : 'title'" value="{{place.id}}" ng-model="VegasMapCtrl">
      <a ng-click="getDetails(place.href, $index)" class="fade"><h3>{{place.title}}</h3></a>
      <div class="details" ng-show="place.detailsAva">
        <div>{{place.details.location.address.text}}</div>
        <div ng-repeat="tag in place.details.tags track by $index| orderBy : 'title'">
          {{tag.title}}
        </div>
        <!-- <img src={{detail.media.images.items[0].src}} alt=""> -->
      </div>
  </div>

</div>
