<div class="mw-header" id="mapsHeader">
  <h1><i class="fa fa-fire" aria-hidden="true"></i>Heat Maps<i class="fa fa-fire" aria-hidden="true"></i></h1>

  <input class="btn btn-danger" id="btnMapToggler" type="button" name="toggleMaps" value="Show Me {{mapName}}">
  <input class="btn btn-danger" id="btnUserMapToggler" type="button" name="showUserMap" value="{{userMapName}}">
</div>

<div ng-controller="VegasMapCtrl" id="vegasMapDiv">
  <div id="vegasMap"></div>
  <div id="locationList">
    <div class="location" ng-repeat="marker in markers | orderBy : 'title'">
      <a class="locationLink" href="#" ng-mouseover="openInfoWindow($event, marker)" ng-click="hotelPanelInit($event, marker)">{{marker.title}}</a>
    </div>
  </div>
</div>

<div ng-controller='StripMapCtrl' id="stripMapDiv">
  <div id="vegasStripMap"></div>
  <div id="locationListStrip">
    <div class="location" ng-repeat="marker in markers | orderBy : 'title'">
      <a class="locationLink" href="#" ng-mouseover="openInfoWindowStrip($event, marker)" ng-click="hotelPanelInit($event, marker)">{{marker.title}}</a>
    </div>
  </div>
</div>

<div ng-controller="UserMapCtrl" id="userMapDiv">
  <div id="UserMap">
  </div>
  <div id="addPin"></div>
</div>

<div class="hotelPanelWrapper" id="hotelPanelWrapper" >
  <div class="hotelPanel">
    <h1>{{hotel.title}}</h1>
  </div>
</div>
