<link rel="stylesheet" href="/css/maps.css" media="screen" title="no title" charset="utf-8">

<div class="mw-header" id="mapsHeader">
  <input class="btn btn-danger" id="btnMapToggler" type="button" name="toggleMaps" value="Show Me {{mapName}}">
  <input class="btn btn-danger" id="btnUserMapToggler" type="button" name="showUserMap" value="{{userMapName}}">
</div>

<div ng-controller="VegasMapCtrl" id="vegasMapDiv" >
  <div id="vegasMap" class='map'></div>
  <div id="locationList">
    <div class="location" ng-repeat="marker in markers | orderBy : 'title'">
      <a class="locationLink" href="#" ng-mouseover="openInfoWindow($event, marker)" ng-click="hotelPanelInit($event, marker)">{{marker.title}}</a>
    </div>
  </div>
  <!-- <label for="repeatSelectVegas"> Hotels: </label>
    <select name="repeatSelectVegas" id="repeatSelectVegas">
      <option ng-repeat="marker in markers | orderBy : 'title'" value="{{marker.id}}" ng-model="VegasMapCtrl" ng-change="openInfoWindow($event, marker)">{{marker.title}}</option>
    </select> -->
</div>

<div ng-controller='StripMapCtrl' id="stripMapDiv">
  <div id="vegasStripMap" class='map'></div>
  <div id="locationListStrip">
    <div class="location" ng-repeat="marker in markers | orderBy : 'title'">
      <a class="locationLink" href="#" ng-mouseover="openInfoWindowStrip($event, marker)" ng-click="hotelPanelInit($event, marker)">{{marker.title}}</a>
    </div>
  </div>
</div>

<div ng-controller="UserMapCtrl" id="userMapDiv">
  <div id="UserMap" class='map'>
  </div>
  <div id="addPin"></div>
</div>

<div class="hotelPanelWrapper" id="hotelPanelWrapper" >
  <div class="hotelPanel">
    <h1>{{hotel.title}}</h1>
  </div>
</div>


<div style="display: none">
  <div id="info-content">
    <table>
      <tr id="iw-url-row" class="iw_table_row">
        <td id="iw-icon" class="iw_table_icon"></td>
        <td id="iw-url"></td>
      </tr>
      <tr id="iw-address-row" class="iw_table_row">
        <td class="iw_attribute_name">Address:</td>
        <td id="iw-address"></td>
      </tr>
      <tr id="iw-phone-row" class="iw_table_row">
        <td class="iw_attribute_name">Telephone:</td>
        <td id="iw-phone"></td>
      </tr>
      <tr id="iw-rating-row" class="iw_table_row">
        <td class="iw_attribute_name">Rating:</td>
        <td id="iw-rating"></td>
      </tr>
      <tr id="iw-website-row" class="iw_table_row">
        <td class="iw_attribute_name">Website:</td>
        <td id="iw-website"></td>
      </tr>
    </table>
  </div>
</div>
