<div class="" id="appbody">
  <div id="divMikeyMsg" class="mainHeaderBanner">{{3+1}}this is going to be the main splash page! Get your shit ready!</div>

  <!--  reference meantea-->
  <div class="mainHeaderBanner">
    <div id="headerWelcome">GoVegas.Guru</div>
  </div>

  <div id="userLogin" class="">
    <form id="divUserLogin">
      <input class="form-control" id="user" ng-model="user.user" name="user" rows="1" cols="30" placeholder="User"></input>
      <input type="password" id="password" ng-model="user.password" name="password" rows="1" cols="30" placeholder="Password"></input>
      <input ng-click="onUserLogin(this)" type="button" name="submit" value="Log in" class="btn btn-primary">
    </form>

  </div>
</div>
